body{
    background-color: black;
    text-align: center;
    .angkor-regular {
        font-family: "Angkor", serif;
        font-weight: 400;
        font-style: normal;
      }
}

h1{
    text-transform: capitalize;
    size: xx-large;
    color: green;
}

h2{
    color: greenyellow;
    size: x-large;
}

#hommer{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}

#leaf{
    border: 5px dashed yellow;
}